
*{
  margin:0px;
  padding:0px;
  list-style: none;
  text-decoration:none;
}


 
  @media(min-width:577px){
    .abrir-menu{
      display: none;
    }
.cerrar-menu{
  display:none;
}
  
.container{
  display: flex;
  position:relative;
}  

.container h1{
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 30px;
  font-size: 20px;

}
.navbar{
  position: fixed;
  width: 200px;
  height: 100%;
  padding: 30px 0;
  background-color: rgb(46, 155, 206);

}

.container .navbar ul a li{
  padding: 15px;
  border-bottom: 1px solid rgba(0,0,0,0.05);
  border-top: 1px solid rgba(225,225,225,0.05);
  color:honeydew;

}
.container .navbar ul a {
  color:none;
  display: block;

}
.container .navbar ul{
  overflow:hidden;
  overflow-y:scroll;
  height: 80vh;
}
.container .navbar ul::-webkit-scrollbar{
width: 7px;
}
.container .navbar ul::-webkit-scrollbar-thumb{
background-color: #bdb8d7;
border-radius: 8px;
}
body::-webkit-scrollbar{
  width: 7px;
}
body::-webkit-scrollbar-thumb{
  background-color: gray;
  border-radius: 8px;
}


  

.nav-link{
  width: 200px;

}
.container .navbar ul a li:hover{
background: #577ba3;

}
.container .navbar ul a li :hover a{
  color:#fff;
}
.main-doc .main-section {

 
  margin-bottom:30px;
  margin-top:30px;


}
.main-doc{
  margin-left:210px;
}
h3{
  margin-bottom:30px;
  margin-top:30px;
  font-size:25px;
  text-align:center;
}
code{
  background-color: gray;
  margin:20px;


}
.pie-de-pagina{
  display:none;
}
}
 @media(max-width:577px){
 


body{display:flex;
  flex-direction:column;
  width:100%;

    

  }
  .main-doc{
    display:flex;
    flex-direction:column;
    width:100%;
    
      

  }
  
  
  .main-doc .main-section{
    width:100%;
    

   
    
  }
  .main-section ul{
    margin: 15px 15px;
   
  }
  .navbar{
    visibility: hidden;
    position:fixed;
    width:80%;
    }
.visible{
  visibility: visible;
}
.abrir-menu{
  display: block;
  position: fixed;
  background-color: transparent;
  border:0;
  font-size: 30px;
  margin: 8px;
  cursor:pointer;

}
.cerrar-menu{
  background-color:  transparent;
  border:0;
  font-size: 30px;
  margin:8px;
  cursor:pointer;
  
}

header h1{ 
  text-align: center;
  padding: 10px;

}
.navbar{
  background-color: rgb(46, 155, 206);

}
.navbar ul li{
 text-align: center;
 padding: 15px;
 border-bottom: 1px solid rgba(0,0,0,0.05);
 border-top: 1px solid rgba(225,225,225,0.05);
 color:honeydew;
 
}
h3{
  margin-bottom:30px;
  margin-top:30px;
  font-size:25px;
  text-align: center;
}
code{
  
background-color: gray;
  margin: 15px 15px;
  


}
#Referencias{
  margin-bottom:100px;
}
.pie-de-pagina{
  position:fixed;
  bottom:0;
  padding:15 0;
  width:100%;
  height:30px;
  border-bottom: 1px solid rgba(0,0,0,0.05);
  border-top: 1px solid rgba(225,225,225,0.05);
  color:honeydew;
  
}
.pie-de-pagina .ancla-del-pie{
  width:100%;
  text-decoration:none;
  
}
.pie-de-pagina .ancla-del-pie ul li{
 text-align:center;
 color:white;
 background-color:rgb(46, 155, 206);
 padding:15px 0;
 
 border-top: 1px solid rgba(225,225,225,0.05);
}

}